.Rproj.user
.Rhistory
.RData
.Ruserdata
data/bfa2002_msna_2020_final_cleaning_20200830.xlsx
data/reach_bfa_msna_choices.csv
data/reach_bfa_msna_outil_V2_deployed.xlsx
data/reach_bfa_msna_survey.csv
data/REACH_BFA_Pop_for_weighting_20201308.xlsx
data/sampling-resume-enq.xlsx
data/Sampling_RU.xlsx
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm0_igb_20200323.CPG
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm0_igb_20200323.dbf
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm0_igb_20200323.prj
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm0_igb_20200323.sbn
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm0_igb_20200323.sbx
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm0_igb_20200323.shp
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm0_igb_20200323.shp.xml
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm0_igb_20200323.shx
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm1_igb_20200323.CPG
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm1_igb_20200323.dbf
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm1_igb_20200323.prj
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm1_igb_20200323.sbn
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm1_igb_20200323.sbx
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm1_igb_20200323.shp
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm1_igb_20200323.shp.xml
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm1_igb_20200323.shx
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm2_igb_20200323.CPG
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm2_igb_20200323.dbf
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm2_igb_20200323.prj
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm2_igb_20200323.sbn
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm2_igb_20200323.sbx
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm2_igb_20200323.shp
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm2_igb_20200323.shp.xml
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm2_igb_20200323.shx
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm3_igb_20200323.CPG
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm3_igb_20200323.dbf
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm3_igb_20200323.prj
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm3_igb_20200323.sbn
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm3_igb_20200323.sbx
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm3_igb_20200323.shp
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm3_igb_20200323.shp.xml
data/shapes/BFA_ITOS_2020_03_24/bfa_admbnda_adm3_igb_20200323.shx
data/shapes/BFA_ITOS_2020_03_24/bfa_admbndl_admALL_igb_itos_20200323.CPG
data/shapes/BFA_ITOS_2020_03_24/bfa_admbndl_admALL_igb_itos_20200323.dbf
data/shapes/BFA_ITOS_2020_03_24/bfa_admbndl_admALL_igb_itos_20200323.prj
data/shapes/BFA_ITOS_2020_03_24/bfa_admbndl_admALL_igb_itos_20200323.sbn
data/shapes/BFA_ITOS_2020_03_24/bfa_admbndl_admALL_igb_itos_20200323.sbx
data/shapes/BFA_ITOS_2020_03_24/bfa_admbndl_admALL_igb_itos_20200323.shp
data/shapes/BFA_ITOS_2020_03_24/bfa_admbndl_admALL_igb_itos_20200323.shp.xml
data/shapes/BFA_ITOS_2020_03_24/bfa_admbndl_admALL_igb_itos_20200323.shx
data/shapes/bfa_pplp_1m_nga_ocha/bfa_pplp_1m_nga_ocha.cpg
data/shapes/bfa_pplp_1m_nga_ocha/bfa_pplp_1m_nga_ocha.csv
data/shapes/bfa_pplp_1m_nga_ocha/bfa_pplp_1m_nga_ocha.dbf
data/shapes/bfa_pplp_1m_nga_ocha/bfa_pplp_1m_nga_ocha.prj
data/shapes/bfa_pplp_1m_nga_ocha/bfa_pplp_1m_nga_ocha.sbn
data/shapes/bfa_pplp_1m_nga_ocha/bfa_pplp_1m_nga_ocha.sbx
data/shapes/bfa_pplp_1m_nga_ocha/bfa_pplp_1m_nga_ocha.shp
data/shapes/bfa_pplp_1m_nga_ocha/bfa_pplp_1m_nga_ocha.shp.xml
data/shapes/bfa_pplp_1m_nga_ocha/bfa_pplp_1m_nga_ocha.shx
data/analysisplan_template.csv
data/BFA_MSNA_DAP.csv
outputs/datasets/BFA_MSNA_2020_dataset_cleanedWeighted_ADM1.csv
outputs/datasets/BFA_MSNA_2020_dataset_cleanedWeighted_ADM2_all.csv
outputs/datasets/BFA_MSNA_2020_dataset_cleanedWeighted_ADM2affected.csv
outputs/datasets/BFA_MSNA_2020_dataset_cleanedWeighted_quota_ADM2affected.csv
outputs/datasets/BFA_MSNA_2020_dataset_cleanedWeighted_representativeData.csv
all_vars_analysis_plan.csv
analysis_plan_allVars.csv
analysisplan_factory.R
.RDataTmp1
.RDataTmp2
.RDataTmp3
.RDataTmp4
data/analysis_plan_allVars_template.csv
data/bfa2002_msna_2020_final_cleaning_20200902.csv
data/bfa2002_msna_2020_final_cleaning_20200902.xlsx
data/bfa2002_msna_2020_final_cleaning_20200902_info_menage.csv
data/choices.csv
data/old_datafiles/bfa2002_msna_2020_final_cleaning_20200830.xlsx
data/old_datafiles/bfa2002_msna_2020_final_cleaning_20200830_clean_data.csv
data/old_datafiles/bfa2002_msna_2020_final_cleaning_20200830_info_menage.csv
data/reach_bfa_msna_outil_V2.xlsx
data/survey.csv
outputs/datasets/BFA_MSNA_2020_dataset_cleanedWeighted_raw_data_info_menage.csv
outputs/datasets/loops/BFA_MSNA_2020_dataset_cleanedWeighted_raw_data_info_menage.csv
outputs/datasets/loops/BFA_MSNA_2020_dataset_cleanedWeighted_raw_data_maladie_moins_5ans_rpt.csv
outputs/datasets/loops/BFA_MSNA_2020_dataset_cleanedWeighted_raw_data_membre_concentration_difficile.csv
outputs/datasets/loops/BFA_MSNA_2020_dataset_cleanedWeighted_raw_data_membre_difficulte_communication.csv
outputs/datasets/loops/BFA_MSNA_2020_dataset_cleanedWeighted_raw_data_membre_marche_dificile.csv
outputs/datasets/loops/BFA_MSNA_2020_dataset_cleanedWeighted_raw_data_membre_membre_entendre_difficile.csv
outputs/datasets/loops/BFA_MSNA_2020_dataset_cleanedWeighted_raw_data_membre_membre_vision_diffcile.csv
outputs/datasets/loops/BFA_MSNA_2020_dataset_cleanedWeighted_raw_data_membre_repeat_nbre_pers_decedes.csv
outputs/datasets/loops/BFA_MSNA_2020_dataset_cleanedWeighted_raw_data_membre_soins_difficile.csv
outputs/datasets/loops/BFA_MSNA_2020_dataset_cleanedWeighted_raw_data_naissances.csv
01_Analysis [conflicted 2].R
01_Analysis [conflicted].R
outputs/logs/cleaning_log_missingPcodes.csv
outputs/tables/summary_stats_admin_1_grp.csv
outputs/tables/summary_stats_admin_1_grp.xlsx
outputs/tables/summary_stats_admin_2_grp.csv
outputs/tables/summary_stats_admin_2_grp.xlsx
problemes_repeat_malades.csv
problemes_repeat_Naissances.csv
try.csv
outputs/logs/cleaning_log_missingPcodes.csv
outputs/logs/cleaning_log_missingPcodes.csv
outputs/logs/cleaning_log_missingPcodes.csv
data/bfa2002_msna_2020_final_cleaning_20200913_PH_MF.csv
data/bfa2002_msna_2020_final_cleaning_20200913_PH_MF.xlsx
data/bfa2002_msna_2020_final_cleaning_20200913_PH_MF_info_menage.csv
data/old_datafiles/bfa2002_msna_2020_final_cleaning_20200902.csv
data/old_datafiles/bfa2002_msna_2020_final_cleaning_20200902.xlsx
data/old_datafiles/bfa2002_msna_2020_final_cleaning_20200902_info_menage.csv
data/~$reach_bfa_msna_outil_V2.xlsx
outputs/datasets/.~lock.BFA_MSNA_2020_dataset_cleanedWeighted_ADM1.csv#
outputs/datasets/REACH_BFA_dataset_2002_MSNA_2020_Septembre2020.xlsx
outputs/datasets/~$REACH_BFA_dataset_2002_MSNA_2020_Septembre2020.xlsx
outputs/logs/cleaning_log_missingPcodes.csv
outputs/tables/summary_stats_admin_1_grp_FreshOutOfTheOven.csv
probleme_education.csv
outputs/logs/cleaning_log_missingPcodes.csv
xy.RData
outputs/logs/cleaning_log_missingPcodes.csv
outputs/logs/cleaning_log_missingPcodes.csv
outputs/logs/cleaning_log_missingPcodes.csv
outputs/logs/cleaning_log_missingPcodes.csv
outputs/logs/cleaning_log_missingPcodes.csv
01_Analysis (conflicted).R
outputs/logs/cleaning_log_missingPcodes.csv
outputs/logs/cleaning_log_missingPcodes.csv
outputs/tables/.~lock.summary_stats_admin_1_grp.csv#
outputs/tables/.~lock.summary_stats_admin_2_grp.csv#
outputs/tables/REACH_BFA_indicateurs_MSNA_2020_Septembre2020.xlsx
outputs/tables/~$REACH_BFA_indicateurs_MSNA_2020_Septembre2020.xlsx
